
<div class="modal-dialog 	modal-lg modal-dialog-scrollable m-0" role="document">
  <div class="modal-content" [class.expanded]="expanded">
    <div class="modal-header" (click)="expand()">
      <h4 class="modal-title">{{luogoInfos?.locData.name}}</h4>

      <div class="btn-group" role="group" aria-label="Basic example">
     
        <button type="button" class="close" (click)="closePopup($event)" aria-label="Close"> 
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body">


    <div class="d-flex justify-content-center" *ngIf="!luogoInfos">
      <div class="spinner-grow  text-primary" role="status">
        <span class="sr-only">Caricamento...</span>
      </div>
    </div>

    <div *ngIf="luogoInfos && luogoInfos.locData && luogoInfos.locData  && luogoInfos.locData.description && luogoInfos.locData.description.length> 0 ">

      <p *ngFor="let desc of descData?.descriptions; let i = index">
        
        <span *ngFor="let subdesc of desc; let j = index">
          {{subdesc}}
          <a class ="text-primary " *ngIf= "j<desc.length -1" (click)=onDescLinkClick(descData.descRefs[i][j])> {{descData.descRefs[i][j].name}}</a>
        </span>
   
      </p>

      
    </div> 
    <ng-container *ngIf="luogoInfos && luogoInfos.trailData && luogoInfos.trailData.length>0">
      <h5>Come raggiungerlo?</h5>
      <div>
        <ul>
          <li *ngFor="let trailData of luogoInfos?.trailData">
            <a>{{trailData.name}} </a>
          </li>
        </ul>
          
      </div>
    </ng-container>
    


    <app-image-grid  *ngIf="luogoInfos && luogoInfos.imagesData" [imageInfo] ="luogoInfos?.imagesData" [maxCols]="2" [useLightBox]="true"></app-image-grid>




    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="closePopup($event)"    >Close</button>
    </div>

</div>