 :host() { 
    
    background-color: rgba(256,256,256,0.6);
    display: block;
    left: 0;
    width: 35%;
    top: 10%;
   

    /*TODO: sostituire classe host con qualcosa di meglio => laterale se monitor, centrale altrimenti, al massimo con parte sotto libera*/
} 