
<div class="modal-dialog 	modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{luogoInfos?.locData.name}}</h4>
            <button type="button" class="close" (click)="closePopup()" aria-label="Close"> 
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">


            <div class="d-flex justify-content-center" *ngIf="!luogoInfos">
              <div class="spinner-grow  text-primary" role="status">
                <span class="sr-only">Caricamento...</span>
              </div>
            </div>

            <div >
                <p *ngFor="let par of luogoInfos?.locData?.description">
                    {{par}}
                </p>
            </div> 
            <ng-container *ngIf="luogoInfos && luogoInfos.trailData && luogoInfos.trailData.length>0">
                <h5>Come raggiungerlo?</h5>
                <div>
                    <ul>
                        <li *ngFor="let trailData of luogoInfos?.trailData">
                            <a>{{trailData.name}} </a></li>
                    </ul>
                    
                </div>
            </ng-container>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" (click)="closePopup()"  >Close</button>
          </div>
        </div>
      </div>