 :host() { 
    
    background-color: rgba(256,256,256,0);
    display: block;
    left: 0;
    width: 100%;
    bottom: 0%;
    padding: 0;
   

    /*TODO: sostituire classe host con qualcosa di meglio => laterale se monitor, centrale altrimenti, al massimo con parte sotto libera*/
} 

.modal-content
{
    height: 40vh;
}

.modal-content.expanded
{
    height: 90vh;
}

.text-primary
{
    cursor: pointer;
}


@media (min-width: 992px) {
    :host() { 
    
        width: 60%;
        top:10%;
    } 
    .modal-content
    {
        height: 90vh;
    }
    .hidden-xl-up
    {
        display: none;
    }
}

@media (min-width: 1200px) { 
    :host() { 
        width: 30%;
    } 
 }