<div class="alert alert-light mb-0">
  <h3> {{luogoInfos?.locData.name}}</h3>
  <div >
      <p *ngFor="let par of luogoInfos?.locData?.description">
          {{par}}
      </p>
  </div> 
  <ng-container *ngIf="luogoInfos && luogoInfos.trailData && luogoInfos.trailData.length>0">
    <h4>Come raggiungerlo?</h4>
    <div>
        <ul>
            <li *ngFor="let trailData of luogoInfos?.trailData">
                <a>{{trailData.name}} </a></li>
        </ul>
        
    </div>
</ng-container>
  <button type="button" class="btn btn-outline-danger" (click)="closePopup()">X</button>
</div>