<div scrollSpy [spiedTags]="['P']" (sectionChange)="onParChange($event)" class="container" style="
overflow-y: scroll;
max-height: 100vh;
">
    <section class="jumbotron mt-0 text-center">

        <div  class="container" *ngIf="trailInfos && trailInfos.mainData">
            <p *ngFor="let par of trailInfos.mainData.pars; let i  = index"> 
                <span *ngFor="let subdesc of par.descriptions; let j = index">
                    {{subdesc}}
                    <a class ="text-primary " (click) = "onRefClick(par.descRefs[j])"  *ngIf= "j<par.descriptions.length -1"> {{par.descRefs[j].name}}</a>
                </span>
            </p>
        </div>

    </section>

    <ng-container *ngIf="trailInfos && trailInfos.pars" >
        <p *ngFor="let par of trailInfos.pars; let i  = index" [id]="'par_' + par.parIndex" [class.h5] ="isParSelected(par)"> 
            <span *ngFor="let subdesc of par.descriptions; let j = index">
                {{subdesc}}
                <a class ="text-primary " (click) = "onRefClick(par.descRefs[j])" *ngIf= "j<par.descriptions.length -1"> {{par.descRefs[j].name}}</a>
            </span>
        </p>
    </ng-container>
</div>

