.ol-unselectable{
    top:0px;
    left:50%;
}

#map {
    height: 100vh;
}

.geo-dot circle
{
    stroke:#fff;
    stroke-width:3;
    fill:#2A93EE;
    fill-opacity:1;
    opacity:1;
}

.ap-control
{
    position: absolute;
    right: 0.5em;
}

.ap-control.my-geoloc
{
    top: 3em;
}

.ap-control.my-attribution 
{
    top: 6em;
}