<div id="map" class="p-0"></div>

<select #selectMappa id="layer-select" class="ol-unselectable ol-control" (change)="this.controlloLayer.onChange($event)">
<option value="Aerial" selected>Mappa Satellitare</option>
<option value="AerialWithLabels">Mappa Ibrida</option>
<option value="Road">Mappa stradale</option>
<option value="ArcGIS terrain">ArcGIS terrain</option>
<option value="OpenCycleMap">OpenTopoMap</option>
</select>

<button  #geolocBtn class="ap-control my-geoloc btn "     
    [class.btn-outline-danger]="geolocControl.geolocationData.status==0"   
    [class.btn-outline-warning]="geolocControl.geolocationData.status==2"   
    [class.btn-outline-success]="geolocControl.geolocationData.status==1"  
    [class.tras02]="true" 
    (click)="geolocControl.toggleLocation()" > <span><i class="material-icons">
        my_location
        </i></span></button>





<div  #attributionCtrl class="" >
    <button type="button" class="ap-control my-attribution btn btn-outline-primary tras02"  [hidden]="attributionControl.collapsed" (click)="attributionControl.toggleCollapsed()"><span ><i class="material-icons"> info </i></span></button>
    <button type="button" class="ap-control my-attribution btn btn-outline-primary tras02"  [hidden]="!attributionControl.collapsed"  (click)="attributionControl.toggleCollapsed()"><span ><i class="material-icons"> chevron_left </i></span></button>
    <div [ngbCollapse]= "!attributionControl.collapsed" class= "ap-control my-attribution card">
        <span *ngFor= "let attr of attributionControl.attribution" [innerHTML]="attr"></span>
    </div>
</div>

